body {
	font-family: "Roboto", "Droid Sans", "游ゴシック", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;

	&.is-drawer-opened {
		overflow: hidden;
	}
}

a {
	transition: background-color $bs-transition-duration $bs-transition-function-timing,
				color $bs-transition-duration $bs-transition-function-timing;
	color: bs-dark($accent-color);
}
