.c-section {
  padding: ($bs-base-line-height * 3) 0;

  &--bg {
    background-color: $main-color;
  }

  &__title {
    @include bs-font-size-line-height($bs-base-font-size * 2);
    margin: 0;
    @include bs-margin-bottom(2);
    text-align: center;
  }
}
