.p-footer-nav {
	@include bs-font-size-line-height(1.4rem);

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__item {
		margin: 0;
		padding: 0 0 ($bs-base-line-height / 2);

		a {
			text-decoration: none;
		}
	}
}
