$bs-between-lines: .6rem;

$main-color: #f3f8f8;
$accent-color: #9ed0d0;

@import '../../node_modules/sass-basis/src/scss/basis';
@import 'core/core';
@import 'foundation/foundation';
@import 'layout/layout';
@import 'object/object';
