<div class="c-pagination">
  <a class="c-pagination__item"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
  <span class="c-pagination__item" aria-current="true">1</span>
  <a class="c-pagination__item">2</a>
  <span class="c-pagination__item">...</span>
  <a class="c-pagination__item">10</a>
  <a class="c-pagination__item"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
</div>
